<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
</head>
<body>
    <h1>Bem-vindo ao Cadastro de Produto</h1>
    <ul>
        <li><a href="/cadastro_produto">Cadastrar Produto</a></li>
        <li><a href="/ver_produto/:id">Ver Produto</a></li>
        <li><a href="/editar_produto/:id">Editar Produto</a></li>
        <li><a href="/excluir_produto/:id">Excluir Produto</a></li>
        <li><a href="/produtos">Listar Produtos</a></li>
    </ul>
    <h3>OBS: Para ver, editar ou excluir um produto, digite o numero do respectivo id do produto na URL
        <br>ID de produtos são obtinos em "listar produtos".</h3>
</body>
</html>
